<div id="lutakko" *ngIf="!open">
  <h5 class="text-primary"><strong>Lutakko</strong></h5>
</div>
<div id="ylisto" *ngIf="!open">
  <h5 class="text-primary"><strong>Yliopisto</strong></h5>
</div>
<div id="kortepohja" *ngIf="!open">
  <h5 class="text-primary"><strong>Kortepohja</strong></h5>
</div>
<div id="keskusta" *ngIf="!open">
  <h5 class="text-primary"><strong>Keskusta</strong></h5>
</div>
<div id="kuokkala" *ngIf="!open">
  <h5 class="text-primary"><strong>Kuokkala</strong></h5>
</div>

<app-restaurant
  class="piato"
  [class.static]="static"
  [url]="url1"
  [img]="img1"
  [name]="piatoN"
  (opened)="onOpened($event)"
  (closed)="onClosed($event)"
  *ngIf="!open || piato"
>
</app-restaurant>

<app-restaurant
  class="fiilu"
  [class.static]="static"
  [url]="url2"
  [img]="img2"
  [name]="fiiluN"
  (opened)="onOpened($event)"
  (closed)="onClosed($event)"
  *ngIf="!open || fiilu"
>
</app-restaurant>

<app-restaurant
  class="aimo"
  [class.static]="static"
  [url]="url3"
  [img]="img3"
  [name]="aimoN"
  (opened)="onOpened($event)"
  (closed)="onClosed($event)"
  *ngIf="!open || aimo"
>
</app-restaurant>

<app-restaurant
  class="rentukka"
  [class.static]="static"
  [url]="url4"
  [img]="img4"
  [name]="rentukkaN"
  (opened)="onOpened($event)"
  (closed)="onClosed($event)"
  *ngIf="!open || rentukka"
>
</app-restaurant>

<app-restaurant
  class="lozzi"
  [class.static]="static"
  [url]="url5"
  [img]="img5"
  [name]="lozziN"
  (opened)="onOpened($event)"
  (closed)="onClosed($event)"
  *ngIf="!open || lozzi"
>
</app-restaurant>

<app-restaurant
  class="ylisto"
  [class.static]="static"
  [url]="url6"
  [img]="img6"
  [name]="ylistoN"
  (opened)="onOpened($event)"
  (closed)="onClosed($event)"
  *ngIf="!open || ylisto"
>
</app-restaurant>
