h5{
   color: #1a237e;
   font-size: 1vw;
}
.map{
   position: relative;
   bottom: 0%;
   left:0%;
}
.piato{
    position: absolute;
    bottom: 30%;
    left:41%;
 }
 .fiilu{
    position: absolute;
    bottom: 60%;
    left:65%;
 }
 .aimo{
    position: absolute;
    bottom: 85%;
    left:75%;
 }
 .rentukka{
   position: absolute;
   bottom: 89%;
   left:10%;
}
.lozzi{
   position: absolute;
   bottom: 50%;
   left:38%;
}
.ylisto{
   position: absolute;
   bottom: 20%;
   left:44%;
}
 .static{
    position: static;
    width:30%;
 }

 #lutakko{
   position: absolute;
   bottom: 55%;
   left:67%;
   font-size: 1vw;
 }
 #ylisto{
   position: absolute;
   bottom: 45%;
   left:35%;
   font-size: 1vw;
 }
 #kortepohja{
   position: absolute;
   bottom: 90%;
   left:20%;
   font-size: 1vw;
 }
 #kuokkala{
   position: absolute;
   bottom: 15%;
   left:70%;
   font-size: 1vw;
 }
 #keskusta{
   position: absolute;
   bottom: 65%;
   left:55%;
   font-size: 1vw;
 }
 