<div class="header">
  <div class="headerText">
    <h1 style="font-size:50px">Jyväskylän kouluruokalat kartalla</h1>
    <p>Päivän ruokalistat</p>
  </div>
</div>
<div
  class="jumbotron"
  [class.fiilu]="fiilu"
  [class.aimo]="aimo"
  [class.piato]="piato"
  [class.fiilu]="fiilu"
  [class.rentukka]="rentukka"
  [class.lozzi]="lozzi"
>
  <app-map
    class="map"
    (opened)="onOpened($event)"
    (closed)="onClosed($event)"
  ></app-map>
</div>

<div class="footer">
  <p>Ravintolat kartalla by:Antti Maaheimo</p>
</div>
