body {
  width: 100%;
  height: 100%;
  /* background-image: url(../assets/img/kartta.png); 
   background-repeat: no-repeat;
   background-size:90vw 90vh; */
}
p {
  margin: 0px;
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/img/jyvaskyla.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 20vh;
}
.headerText {
  position: relative;
  top: 20%;
  text-align: center;

  color: white;
}
#lutakko {
  position: absolute;
  bottom: 60%;
  left: 60%;
}
.page-header {
  background-color: #4285f4;
  color: white;
  text-align: center;
  height: 10%;
}
.jumbotron {
  position: relative;
  margin: 2%;
  padding: 2%;
  background-image: url(../assets/img/kartta.png);
  height: 600px;
  max-height: 900px;
  background-repeat: no-repeat;
  background-size: 95vw 90%;
  width: 98%;
}
.restaurantNameLeft {
  color: white;
  position: absolute;

  right: 10vw;
  margin: 0px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 10vw;
  transform: scale(2, 0.2);
}

.fiilu {
  background-color: rgb(208, 211, 214);

  margin: 2%;
  padding: 3%;
}
.aimo {
  background-color: rgb(208, 211, 214);
  margin: 2%;
  padding: 5%;
}
.piato {
  background-color: rgb(208, 211, 214);

  margin: 2%;
  padding: 0.5%;
}
.rentukka {
  background-color: rgb(208, 211, 214);

  margin: 2%;
  padding: 0.5%;
}
.lozzi {
  background-color: rgb(208, 211, 214);

  margin: 2%;
  padding: 0.5%;
}
.ylisto {
  background-color: rgb(208, 211, 214);

  margin: 2%;
  padding: 0.5%;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/img/jyvaskyla.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  margin: 0px;
}
