h5{
    color: white;
    font-size: 1vw;
    vertical-align: middle;
    margin-top: 0.9vw;
    margin-bottom: 0.9vw;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.list-group{
    text-align: center;
}
.btn-circle {
    position: relative;
    top:-11px;
    right:20px;
    z-index: 1000;
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    float: right;
}

.restaurantCont{
    position: relative;
    text-align: center;
    width: 30%;
    vertical-align: middle;
    height: auto;
    font-size: 15px;
}
 .imgContainer{
    position: relative;
    width:  3vw;
    height: 3vw;
    
} 
.restaurantImg{
    position: absolute;
    object-fit: fill;
    width: 100%;
    height:auto;
}
.restaurantImgHover{
    position: absolute;
    bottom: -0.6vw;
    right: -4vw;
    width:  5vw;
    height: 5vw;
}
.restaurantName{
    position: absolute;
    width:100%;
    height: 100%;
    text-align: center; 
}
.restaurantNameHover{
    color: white;
    font-size: 1.66vw;
    vertical-align: middle;
    margin-top: 1.60vw;
    margin-bottom: 1.66vw;
}
.fill{
    width:30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
.restaurantNameLeft{
    color:white;
    float: right;
    margin: 0px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 10vw;
    transform: scale(2, .3);  
 }
.list-group{
    margin: 0; 
}
.list-group-item{
    padding: 1px;
    margin: 0; 
}
.list-group-item.active{
    background-color: #1a237e;
    border-color: #1a237e;
    margin: 0; 
}
.closed{
    background-color: #ff4444;
}
p{
    margin: 0px;
}
ul {
    margin-right: 0px; 
  }



