<div class="imgContainer" 
[class.restaurantImgHover]="mouseOvered"
(click)="open()"
(mouseover)="mouseOvered=true"
(mouseout)="mouseOvered=false"
*ngIf="!isOpen"
>
<img src="{{img}}" 
class="restaurantImg rounded-circle" 
>
<div class="restaurantName" >
<h5 [class.restaurantNameHover]="mouseOvered">{{name}}</h5>
</div>
</div>

<div class="body">
<div class="fill" *ngIf="currentMenu">
    <div class="restaurantNameLeft">
        <p *ngIf="data$.RestaurantName == 'Fiilu'">FIILU</p>
        <p *ngIf="data$.RestaurantName == 'Aimo'">AIMO</p>
        <p *ngIf="data$.RestaurantName == 'Ravintola Piato'">PIATO</p>
        <p *ngIf="data$.RestaurantName == 'Ravintola Rentukka'">RENTUKKA</p>
        <p *ngIf="data$.RestaurantName == 'Ravintola Lozzi'">LOZZI</p>
        <p *ngIf="data$.RestaurantName == 'Ravintola Ylistö'">YLISTÖ</p>
    </div>  
</div>
<div class="restaurantCont" *ngIf="currentMenu">
<button type="button" (click)="del()" class="btn btn-secondary btn-circle btn-lg"><i class="fa fa-times"></i></button>
<ul class="list-group" *ngIf="currentMenu">
    
    <li class="list-group-item active"><h5>{{data$.RestaurantName}} <br><span class="badge badge-light" [class.closed]="restaurantClosed" >{{currentMenu.LunchTime}}</span></h5></li>
    <li class="list-group-item" *ngFor="let menu of currentMenu.SetMenus">
        <p *ngIf="menu.Name">{{menu.Name | uppercase}}</p>
        <p *ngFor="let dish of menu.Components">
        {{dish}}<br>
        {{menu.Price}}
        </p>
    </li>
    
  </ul>
</div>
<div class="fill" *ngIf="currentMenu">
    <div class="restaurantNameLeft">
        <p *ngIf="data$.RestaurantName == 'Fiilu'">FIILU</p>
        <p *ngIf="data$.RestaurantName == 'Aimo'">AIMO</p>
        <p *ngIf="data$.RestaurantName == 'Ravintola Piato'">PIATO</p>
        <p *ngIf="data$.RestaurantName == 'Ravintola Rentukka'">RENTUKKA</p>
        <p *ngIf="data$.RestaurantName == 'Ravintola Lozzi'">LOZZI</p>
        <p *ngIf="data$.RestaurantName == 'Ravintola Ylistö'">YLISTÖ</p>
    </div>  
</div>